{% extends "base.html" %}

{% block content %}
<html lang="en">

<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(function(){
    var select_keyid_invite = $('#invited_keyid_list');
    var select_keyid_parking_spots = $('#your_select_keyid');    
    var select_fieldname_parking_spots = $('#your_select_fieldname');

    //For limit datepicker range
    var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("invited_day")[0].setAttribute('min', today);

    //When user click keyid in invite friends 
    select_keyid_invite.on('change', function(){
        var selected_keyid = select_keyid_invite.val();
        
        $.ajax({
            type: 'POST',
            url: '/fieldname',
            data: JSON.stringify({'keyid': selected_keyid}),
            contentType: 'application/json',
            success: function(response_data) {
                $("#invited_fieldname_list").empty();
            
                console.log(response_data)
                for (var i = 0; i < response_data.length; i++) {
                    $("#invited_fieldname_list").append($('<option value="' +response_data[i]+ '">' + response_data[i] + '</option>'));
                }
            },
            error: function (request, status, error) {
                alert("Error "+request.responseText);
            }
        });
    });

    //When user click invite button
    $('#invite').click(function(e){
        var keyid = select_keyid_invite.val();
        var fieldname = $('#invited_fieldname_list').val();
        var date = $('#invited_day').val();
        var time = $('#invited_time').val();
        var email = $('#invited_email').val();

        $.ajax({
            type: 'POST',
            url: '/invite',
            data: JSON.stringify({"keyid": keyid, "fieldname": fieldname, "date": date, "time": time, "email": email}),
            contentType: 'application/json',
            success: function(response_data) {
                alert(response_data['result']);
                window.location = '/profile';
            },
            error: function (request, status, error) {
                alert("Error "+request.responseText);
            }
        });
    });

    //When user click keyid in your selected parking spots
    select_keyid_parking_spots.on('change', function(){
        var selected_keyid = select_keyid_parking_spots.val();
        
        $.ajax({
            type: 'POST',
            url: '/fieldname',
            data: JSON.stringify({'keyid': selected_keyid}),
            contentType: 'application/json',
            success: function(response_data) {
                $("#your_select_fieldname").empty();
            
                console.log(response_data)
                for (var i = 0; i < response_data.length; i++) {
                    $("#your_select_fieldname").append($('<option value="' +response_data[i]+ '">' + response_data[i] + '</option>'));
                }
            },
            error: function (request, status, error) {
                alert("Error "+request.responseText);
            }
        });
    });

    //When user click add spot in your selected parking spots
    $('#add_spots').click(function(e){
        var selected_keyid = select_keyid_parking_spots.val();
        var selected_fieldname = select_fieldname_parking_spots.val();

        $.ajax({
            type: 'POST',
            url: '/addspots',
            data: JSON.stringify({"keyid": selected_keyid, "fieldname": selected_fieldname}),
            contentType: 'application/json',
            success: function(response_data) {
                if(response_data['result'] == 'success'){
                    var table = document.getElementById("parking_spots_list");
                    table.innerHTML="";
                    var tr="";

                    response_data['selectParkingSpots'].forEach(element => {
                        tr+='<tr>';
                        tr+='<td>'+element.keyid+'</td>'+'<td>'+element.fieldname+'</td>'
                        tr+='</tr>'
                    });

                    table.innerHTML+=tr;
                }
                alert(response_data['result']);
            },
            error: function (request, status, error) {
                alert("Error "+request.responseText);
            }
        });
    });

    //When user click remove spot in your selected parking spots
    $('#remove_spots').click(function(e){
        var selected_keyid = select_keyid_parking_spots.val();
        var selected_fieldname = select_fieldname_parking_spots.val();

        $.ajax({
            type: 'POST',
            url: '/removespots',
            data: JSON.stringify({"keyid": selected_keyid, "fieldname": selected_fieldname}),
            contentType: 'application/json',
            success: function(response_data) {
                if(response_data['result'] == 'success'){
                    console.log(response_data);
                    var table = document.getElementById("parking_spots_list");
                    table.innerHTML="";
                    var tr="";

                    response_data['selectParkingSpots'].forEach(element => {
                        tr+='<tr>';
                        tr+='<td>'+element.keyid+'</td>'+'<td>'+element.fieldname+'</td>'
                        tr+='</tr>'
                    });

                    table.innerHTML+=tr;
                }
                alert(response_data['result']);
            },
            error: function (request, status, error) {
                alert("Error "+request.responseText);
            }
        });
    });

    //When user click resend mqtt certificate
    $('#resend').click(function(e){
        var password = $('#mqttPassword').val();

        $.ajax({
            type: 'POST',
            url: '/resendmqttcert',
            data: JSON.stringify({"pwd": password}),
            contentType: 'application/json',
            success: function(response_data) {
                alert(response_data['result']);
                window.location = '/profile';
            },
            error: function (request, status, error) {
                alert("Error "+request.responseText);
                window.location = '/profile';
            }
        });
    });
});
</script>
</head>

<style>
    .form-wrapper {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .form {
      background-color: rgb(255, 148, 9);
      color: rgb(7, 1, 1);
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }

    .approveTermsContainer{
        display:flex;
        justify-content:center;
    }

    .table-container {
        height: 29em;
    }
    table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
    }
    table thead {
        /* head takes the height it requires, 
        and it's not scaled when table is resized */
        flex: 0 0 auto;
        width: calc(100% - 0.5em);
    }
    table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        overflow-y: scroll;
    }
    table tbody tr {
        width: 100%;
    }
    table thead,
    table tbody tr {
        display: table;
        table-layout: fixed;
    }
    /* decorations */
    .table-container {
        border: 1px solid black;
        padding: 0.3em;
    }
    table {
        border: 1px solid lightgrey;
    }
    table td, table th {
        padding: 0.3em;
        border: 1px solid lightgrey;
    }
    table th {
        border: 1px solid grey;
    }
   
</style>

<h1 class="title">
    Welcome, {{name}}! <br><br>
</h1>
<div id="form-wrapper">
    <form style="width: 820px; height: 800px; float: left;">
        <div class="form" style="height: 800px;">
            <div class="approvedItems">
                <label for="form_label"><p style="font-size:130%;"><b>Your selected parking spots:.</b></label><br><br>
                <div class="table-container">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>KeyID</th>
                                    <th>FieldName</th>                                 
                                </tr>
                            </thead>
                            <tbody id="parking_spots_list">
                                {% for spot in user_parking_spots %}
                                    <tr>
                                        <td>{{ spot.keyid }}</td>
                                        <td>{{ spot.fieldname }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <br><br>

            <div class="approveTermsContainer">
                <div class="newItems" style="margin: 0 auto; padding:0px;">
                    
                    <label for="keyid">KeyID of parking spots:</label><br>
                    <select name ="your_select_keyid" id="your_select_keyid" style="width: 400px" required>
                        <option value="" selected disabled hidden>Choose here</option>
                        {% for keyid in keyids %}
                            <option value ="{{keyid}}">{{keyid}}</option>
                        {% endfor %}
                    </select>

                    <br><br>

                    <label for="fieldname">FieldName of parking spots:</label><br>
                    <select name ="your_select_fieldname" id="your_select_fieldname" style="width: 400px" required>
                    </select>

                    <br><br>

                    <input type="button" id="add_spots" style="width: 100px" value="Add"/>
                    <input type="button" id="remove_spots" style="width: 100px" value="Remove"/>
                </div>
            </div>

        </div>
    </form>
    
    <form style="width: 500px; height: 500px; float: right;">
        <div class="form" style="height: 428px;">
            <div class="control">
                <label for="form_label"><p style="font-size:130%;"><b>Invite friend to your parking spots.</b></p></label><br>
            </div>
            
            <div class="control">
                <label for="keyid">KeyID of parking spots:</label><br>
                <select name ="invited_keyid_list" id="invited_keyid_list" style="width: 400px" required>
                    <option value="" selected disabled hidden>Choose here</option>
                    {% for keyid in keyids %}
                        <option value ="{{keyid}}">{{keyid}}</option>
                    {% endfor %}
                </select><br><br>
            </div>
            
            <div class="control">
                <label for="fieldname">FieldName of parking spots:</label><br>
                <select name ="invited_fieldname_list" id="invited_fieldname_list" style="width: 400px" required>
                    
                </select><br><br>
            </div>
    
            <div class="control">
                <label for="Date">Date/time:</label><br>
                <input type="date" id="invited_day" name="invited_day" style="width: 130px" required>
                <input type="time" id="invited_time" name="invited_time" style="width: 120px" required><br><br>
            </div>
    
            <div class="control">
                <label for="email">Invited email:</label><br>
                <input type="email" id="invited_email" name="invited_email" style="width: 400px" required><br><br>
            </div>
            
            <div class="control">
                <input type="button" id="invite" style="width: 100px" value="Invite"/>
            </div>
        </div>
    </form>

    <form style="width: 500px; height: 228px; float: right;">
        <div class="form" style="height: 200px;">
            <div class="control">
                <label for="form_label"><p style="font-size:130%;"><b>Resend MQTT Certificate to your email.</b></p></label><br>
                <div class="field">
                    <div class="control">
                        New Certificate Password:
                        <input class="input" type="password" id="mqttPassword" name="mqttPassword" required>
                    </div>
                </div>
                <div class="control">
                    <input type="button" id="resend" style="width: 100px" value="Resend">
                </div>
            </div>
        </div>
    </form>
</div>

</html>
{% endblock %}